<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/menu.ejs') %>
    <div class="container text-center py-5">
      <h1>Page not found</h1>
    </div>
    <%- include('includes/end') %>
  </body>
</html>
