<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/menu.ejs') %>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-10">
          <form
            action="/auth/login"
            method="post"
            class="bg-white p-4 rounded shadow-lg"
          >
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('../includes/end.ejs') %>
  </body>
</html>
