<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/menu.ejs') %>
    <div class="container py-5"></div>
    <%- include('../includes/end') %>
  </body>
</html>
