<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/menu.ejs') %>
    <div class="container py-5">
      <% if (products?.length > 0) { %>
      <h1 class="mb-5">Products</h1>
      <div class="row">
        <% products.forEach(product => { %>
        <div class="col-lg-4 col-md-6">
          <%- include('../includes/product-card.ejs', {product}) %>
        </div>
        <% }) %>
      </div>
      <% } else { %>
      <h1>No products</h1>
      <% } %>
    </div>
    <%- include('../includes/end.ejs') %>
  </body>
</html>
